<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: error</title>

    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
</head>
<body>
    {{ partial "header.html" . -}}

    <main>
        <div class="info">
            <h2>404: Nothing to show!</h2>
            <p>
                The page you tried to reach does not exist!
            </p>
        </div>
    </main>

    {{ partial "footer.html" . -}}
</body>
</html>