<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Title }}</title>
    <!-- Power of MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
</head>